{% block content %}
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2><span>{% trans %}app.name{% endtrans %}</span></h2>
                        <p>{{ 'app.descr' | trans | nl2br }}</p>
                        <div class="footer-social">
                            <a href="{% trans %}app.fb{% endtrans %}" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="{% trans %}app.yt{% endtrans %}" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="{% trans %}app.pin{% endtrans %}" target="_blank"><i
                                        class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">{% trans %}app.information{% endtrans %} </h2>
                        <ul>
                            <li><a href="{{ path('_paymentinfo') }}">{% trans %}app.paymentinfo{% endtrans %}</a></li>
                            <li><a href="{{ path('_shippinginfo') }}">{% trans %}app.shippinginfo{% endtrans %}</a></li>
                            <li><a href="{{ path('_terms_conditions') }}">{% trans %}app.terms{% endtrans %}</a></li>
                            <li><a href="{{ path('_contact') }}">{% trans %}app.contact{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            <li><a href="#">{% trans %}app.tables{% endtrans %}</a></li>
                            <li><a href="#">{% trans %}app.accesories{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">{% trans %}app.contact{% endtrans %}</h2>
                        <p>{{ 'app.contactdetails' | trans | nl2br }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; Copyright © 2016 Artimex Sport. All rights reserved. Coded with <i
                                    class="fa fa-heart"></i> by <a href="#" target="_blank">#</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
{% endblock %}