{% extends 'base.html.twig' %}


{% block content %}
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="user-menu">
                            <ul>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="header-right">
                            <ul class="list-unstyled list-inline">
                                <li class="dropdown dropdown-small">
                                    {{ locale_switcher() }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End header area -->

        <div class="site-branding-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="logo">
                            <br><br>
                            <a href="{{ path('_homepage') }}"><img
                                        src="{{ asset ('bundles/app/img/logo-artimex.png') }}" alt="Smiley face"></a>

                        </div>
                    </div>
                    {% if oCart is defined %}
                    <div class="col-sm-6">
                        <div class="shopping-item">
                            <a href="{{ path('_cart') }}">{% trans %}app.cart{% endtrans %} {{ oCart is not null ? '- <span class="cart-amunt">' + 'app.currency' + oCart.totalPrice + '</span>' : ''}} <i
                                        class="fa fa-shopping-cart"></i> {{ oCart is not null ? '<span class="product-count">'+oCart.cartItems|length+'</span>' : ''}}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div> <!-- End site branding area -->

        <div class="mainmenu-area">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('_homepage') }}">{% trans %}app.home{% endtrans %}</a></li>
                            <li><a href="{{ path('_aboutus') }}">{% trans %}app.aboutus{% endtrans %}</a></li>
                            <li><a href="{{ path('_products') }}">{% trans %}app.product1{% endtrans %}</a></li>
                            <li><a href="{{ path('_contact') }}">{% trans %}app.contact{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- End mainmenu area -->
{% endblock %}
