<div class="row">
    <h3>{% trans %} app.configuration {% endtrans %}</h3>
    <p><strong>{% trans %} app.dimensions{% endtrans %}</strong></p>
    <div class="col-sm-4 grey-zone">
        <label for="length">{% trans %} app.surface.length {% endtrans %}</label>
        <select class="form-control" id="lengthSelect">
            {% for value in length.lengthLowerBound..length.lengthUpperBound %}
                <option>{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4 grey-zone">
        <label for="width">{% trans %} app.surface.width {% endtrans %}</label>
        <select class="form-control" id="widthSelect">
            {% for value in width.widthLowerBound..width.widthUpperBound %}
                <option>{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4 grey-zone">
        <label for="height">{% trans %} app.leg.height {% endtrans %}</label>
        <select class="form-control" id="heightSelect">
            {% for value in height.heightLowerBound..height.heightUpperBound %}
                <option>{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<!-- End of dimensions -->

<!-- Start of leg profiles -->
{% if oItem.profiles|length > 0 %}
    <div class="row">
        <hr>
    </div>
    <div class="row" id="profDiv">
        <p><strong>{% trans %} app.leg.profiles{% endtrans %}</strong></p>
        {% for row in oItem.profiles|batch(3,null) %}
            {% set checked = (loop.index==1) ? true : false %}
            {% for column in row %}
                <div class="col-sm-{{ loop.index==row|length ? (4-loop.index)*4 : 4 }} grey-zone">
                    <label class="radio-inline grey-zone">
                        <input type="radio" name="profRadio" data-name="{{ column.profile }}"
                               value="{{ column.id }}" {{ (checked) ? "checked='checked'" : '' }} {% set checked = false %}>
                        <span>{{ column.profile }}</span>
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
<!-- End of leg profiles -->
<!-- Start of sides -->
{% if oItem.hasDistanceToSides %}
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <p><strong>{% trans %} app.distance.to.sides {% endtrans %}</strong></p>
        <div class="form-inline">
            <div class="col-sm-6 grey-zone">
                <label class="radio-inline">
                    <input type="radio" name="distRadio" checked="checked">
                    First picture
                </label>
            </div>
            <div class="col-sm-6 grey-zone">
                <label class="radio-inline">
                    <input type="radio" name="distRadio">
                    Second picture
                </label>
            </div>
        </div>
    </div>
{% endif %}
<!-- End of sides -->
<!-- Start of extensions -->
{% if oItem.hasExtension %}
    <div class="row">
        <hr>
    </div>
    <div class="row" id="extDiv">
        <p><strong>{% trans %} app.extensions{% endtrans %}</strong></p>
        <div class="form-inline grey-zone">
            {% for value in 0..2 %}
                <div class="col-sm-4 grey-zone">
                    <label class="radio-inline">
                        <input type="radio" value="{{ value }}"
                               name="extRadio" {{ loop.first ? "checked='checked'" : '' }}>
                        {{ value }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="form-inline grey-zone col-sm-12">
            <label for="length">{% trans %} app.surface.length {% endtrans %}</label>
            <select class="form-control" id="extLengthSelect">
                {% for value in length.extLowerBound..length.extUpperBound %}
                    <option>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

{% endif %}
<!-- End of extensions -->
<!-- Start of drawers -->
{% if oItem.drawerAttribute.maxNumberOfDrawers is not null and oItem.drawerAttribute.maxNumberOfDrawers!=0 %}
<div class="row">
    <hr>
</div>
<div class="row" id="drawerDiv">
    <p><strong>{% trans %} app.drawer.attribute{% endtrans %}</strong></p>
    {% for value in 0..oItem.drawerAttribute.maxNumberOfDrawers %}
    {% if loop.index == oItem.drawerAttribute.maxNumberOfDrawers+1 and loop.index % 6 !=0 %}
    <div class="col-sm-{{ (12*((oItem.drawerAttribute.maxNumberOfDrawers+1)/3)|round(0,'ceil'))-(4*oItem.drawerAttribute.maxNumberOfDrawers) }} grey-zone">
        {% else %}
        <div class="col-sm-4 grey-zone">
            {% endif %}
            <label class="radio-inline">
                <input type="radio" value="{{ value }}" name="drawerRadio" {{ loop.first ? "checked='checked'" : '' }}>
                {{ value }}
            </label>
        </div>
        {% endfor %}
        <div class="form-inline grey-zone col-sm-12">
            <label for="length">{% trans %} app.surface.length {% endtrans %}</label>
            <select class="form-control" id="drawerLengthSelect">
                {% for value in length.drawerLowerBound..length.drawerUpperBound %}
                    <option>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <!-- End of drawers -->
    <div class="row">
        <hr>
    </div>

    <!-- start of material selection -->
    <div class="row" id="matDiv">
        <p><strong>{% trans %} app.wood.selection{% endtrans %}</strong></p>
        <div class="form-inline">
            {% for oMaterial in aMaterials|batch(3) %}
                {% for column in oMaterial %}
                    <div class="col-sm-{{ loop.index==oMaterial|length ? (4-loop.index)*4 : 4 }} grey-zone">
                        <label class="radio-inline materialRadioMouseOver" title="">
                            <input type="radio" value="{{ column.id }}" data-is-tempered="{{ column.isTempered }}" data-imgPath="{{ column.image.getCachePath }}"
                                   data-name="{{ column.name }}"
                                   name="matRadio" {{ column.id==primaryMaterial ? "checked='checked'" : '' }}>
                            <p>{{ column.name }}</p>
                        </label>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- end of material selection -->
    <div class="row">
        <hr>
    </div>
    <!-- start of timber quality -->
    <div class="row" id="qualityDiv">
        <p><strong>{% trans %} app.timber.quality{% endtrans %}</strong></p>
        <div class="form-inline">
            {% for oTimberQuality in aTimberQuality|batch(3) %}
                {% set checked = (loop.index==1) ? true : false %}
                {% for column in oTimberQuality %}
                    <div class="col-sm-{{ loop.index==oTimberQuality|length ? (4-loop.index)*4 : 4 }} grey-zone">
                        <label class="radio-inline">
                            <input type="radio" name="qualityRadio"
                                   value="{{ column.id }}" {{ (checked) ? "checked='checked'" : '' }} {% set checked = false %}
                                   data-name="{{ column.name }}">
                            <p>{{ column.name }}</p>
                        </label>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- end of timber quality -->
    <!-- start of timber tempering -->
    <div class="row">
        <hr>
    </div>
    <div class="row" id="temperingDiv">
        <p><strong>{% trans %} app.timber.tempering{% endtrans %}</strong></p>
        <div class="form-inline">
            {% for oTimberTempering in aTimberTempering|batch(3) %}
                {% set checked = (loop.index==1) ? true : false %}
                {% for column in oTimberTempering %}
                    <div class="col-sm-{{ loop.index==oTimberTempering|length ? (4-loop.index)*4 : 4 }} grey-zone">
                        <label class="radio-inline">
                            <input type="radio" name="temperingRadio"
                                   value="{{ column.id }}" {{ (checked) ? "checked='checked'" : '' }} {% set checked = false %}
                                   data-name="{{ column.name }}">
                            <p>{{ column.name }}</p>
                        </label>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
</div>
<!-- end of timber tempering -->
