{% extends ':client:products.html.twig' %}

{% block content %}
    <div class="container imageOver">
        <div class="col-xs-12 col-sm-6 col-md-5">
            <div class="row">
                <div id="loadImageDiv" data-path="{{ path ('_getPrimaryImageByMaterial') }}">
                    <img class="ajax-loader img-responsive" src="{{ asset('bundles/app/img/loading.gif') }}"/>
                    <img id="displayImage"
                         src="{{ oItem.primaryImage(primaryMaterial) | imagine_filter('productDisplay') }}"/>
                </div>
            </div>
            <div class="row">
            <div class="photos">
                    {% for secImage in oItem.secondaryImages %}
                        {% if loop.index % 4 == 0 %} sau 4
                            <div class="row">
                        {% endif %}
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <a class="example-image-link"
                               href="{{ secImage | imagine_filter('productDisplayLightbox') }}"
                               data-lightbox="example-set" data-title="photo ex"><img
                                        src="{{ secImage | imagine_filter('productImages') }}"></a>
                        </div>
                        {% if loop.index == 4 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <span>{{ oItem.description }}</span>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
            <!-- start of custom message -->
            {% if oItem.message is not null %}
                <p><strong>{{ oItem.message }}</strong></p>
            {% endif %}
            </div>
        </div>
        <div class="col-xs-12  col-sm-6 col-md-3">
            {% include ':client/subContent:dynamicSpecs.html.twig' %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4" id="config">
            {% include ':client/subContent:configurations.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/tablePriceCalculationHandler.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/mouseOverDisplayMaterialImage.js') }}" type="text/javascript"></script>
{% endblock %}

