{% extends ':client:categoryItems.html.twig' %}

{% block content %}
    <div class="container imageOver">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
            <div class="row">
                <div id="loadImageDiv" >
                    <a class="example-image-link"
                       href="{{ oItem.primaryImage(primaryMaterial) | imagine_filter('productDisplayLightbox') }}"
                       data-lightbox="example-set" data-title="">
                        <img id="displayImage" class="img-responsive"
                            src="{{ oItem.primaryImage(primaryMaterial) | imagine_filter('productDisplay') }}"/></a>
                </div>
            </div>
            <div class="row">
                <div class="photos">
                    {% for secImage in oItem.secondaryImages %}
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 secondary-images">
                            <a class="example-image-link"
                               href="{{ secImage | imagine_filter('productDisplayLightbox') }}"
                               data-lightbox="example-set" data-title=""><img
                                        src="{{ secImage | imagine_filter('productImages') }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <span>{{ oItem.description|raw }}</span>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <!-- start of custom message -->
                {% if oItem.message is not null %}
                    <p><strong>{{ oItem.message }}</strong></p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-3">
            {% include ':client/subContent:dynamicSpecs.html.twig' %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" id="config">
            {% include ':client/subContent:configurations.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var locale= '{{ app.request.locale }}';
        var cartTrs = '{{ 'app.cart' }}';
        var currencyTrs= '{{ 'app.currency' }}';
    </script>
    <script src="{{ asset('bundles/app/js/tablePriceCalculationHandler.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/mouseOverDisplayMaterialImage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/mouseOverProductName.js') }}" type="text/javascript"></script>
{% endblock %}

