<div class="col-xs-12 col-sm-8">
    <div class="product-content-right">
        <div class="woocommerce">
            <form method="post" action="#">
                {% if oCart is not null %}
                    {% for cartItem in oCart.cartItems %}
                        <div class="cart_item row" id="{{ cartItem.uniqueItemCode }}">
                            <div class="col-xs-3 centered">
                                <a href="#"><img width="145" height="145" alt="poster_1_up"
                                                 class="shop_thumbnail"
                                                 src={{ cartItem.itemImg | imagine_filter('thumbnail') }}></a>
                            </div>
                            <div class="col-xs-3 centered">
                                <a href="#">{{ cartItem.itemName }}
                                    {% for spec in cartItem.itemSpecs %}
                                        <div class="cart-description">
                                            <p>{{ spec | striptags }}</p>
                                        </div>
                                    {% endfor %}
                                </a>
                            </div>
                            <div class="col-xs-3 centered">
                                <div class="quantity buttons_added">
                                    <select class="form-control"
                                            data-code="{{ cartItem.uniqueItemCode }}"
                                            id="itemQuantity" onchange="modifyMe(this)">
                                        {% for value in 1..50 %}
                                            <option {{ value==cartItem.itemQuantity ? 'selected="selected"' : '' }}value="{{ value }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-2 centered">
                           <span class="amount">{% trans %}
                               app.currency{% endtrans %}{{ cartItem.totalPrice }}</span>
                            </div>
                            <div class="col-xs-1 product-remove centered">
                                <a onclick="removeMe(this)" title="Remove this item"
                                   data-code="{{ cartItem.uniqueItemCode }}"
                                   class="remove-item-from-cart" href="#">×</a>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            </form>
            <div class="row">
                <a href="{{ path('_products') }}"><input type="submit"
                                                         value={% trans %}app.continue.shipping{% endtrans %}
                                                         name="apply_coupon" class="button"></a>
            </div>
        </div>
    </div>
</div>

{% if oCart is not null %}
<div class="col-xs-12 col-sm-4" id="grand-total">
    {% include ':client/subContent/cart:cart_totals.html.twig' %}
    <div class="row">
        <a href="{{ path('_cart_checkout') }}">
            <input type="submit"
                   value={% trans %}app.proceed.checkout{% endtrans %}
                   name="proceed"
                   class="checkout-button button alt wc-forward">
        </a>
    </div>
</div>

{% endif %}
