{% block head %}
    <!-- Header area -->
    {% include 'client/statics/header.html.twig' %}
    <!-- End of header area -->
{% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{% trans %}app.contact{% endtrans %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    {{ form_start(form) }}
                    <fieldset>
                        <div class="form-group row">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                        class="fa fa-user bigicon hidden-xs  vertical-align-middle"></i></span>
                            <div class="col-md-8">
                                {{ form_widget(form.clientFirstName,
                                {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.clientFirstName) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                        class="fa fa-user bigicon hidden-xs  vertical-align-middle"></i></span>
                            <div class="col-md-8">
                                {{ form_widget(form.clientLastName,
                                {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.clientLastName) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                        class="fa fa-envelope-o bigicon hidden-xs  vertical-align-middle"></i></span>
                            <div class="col-md-8">
                                {{ form_widget(form.clientEmail,
                                {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.clientEmail) }}

                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                        class="fa fa-phone-square bigicon hidden-xs  vertical-align-middle"></i></span>
                            <div class="col-md-8">
                                {{ form_widget(form.clientPhone,
                                {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.clientPhone) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                        class="fa fa-pencil-square-o bigicon hidden-xs  vertical-align-middle"></i></span>
                            <div class="col-md-8">
                                {{ form_widget(form.clientComment,
                                {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.clientComment) }}

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                {{ form_widget(form.submit) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
{% endblock %}
{% block footer %}
    <!-- Start of footer area -->
    {% include '/client/statics/footer.html.twig' %}
    <!-- End of footer area -->
{% endblock %}